@import 'tailwindcss';
@import '@colorful-code/ui/styles.css';

html {
  color: var(--cc-foreground);
  background: var(--cc-background);
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

* {
  box-sizing: border-box;
}
